extends layout

block headContent
	title Restfull API information
	
block content
	h1.h3 Restfull API information
		br
		small(class="monospace") #{address}
	
	hr
	div(class="row")
		div(class="col-sm-4") coming
		div(class="col-sm-8") soon