extends layout

block headContent
	title Restfull API information
	
block content
	h1.h3 Restfull API information
	hr
	div(class="row")
		div(class="col-md-4") 
			each item, index in APIS
				ul(class="nav-item")
					a(class="nav-link", href="javascript:void(0)", role="button")
						span #{item.name}
		div(class="col-md-8") soon