extends layout

block headContent
        title Restfull API information

block content
        script(src="/js/api.js")
        h1.h3 Restfull API information
        hr
        div(class="row")
           div(class="col-md-4")
               ul(class="nav-item")
                  each item, index in APIS
                      - var itemObj = JSON.stringify(item); console.log(baseUri);
                      - var hrefAction = `javascript:displayAPIInfo('api_info_display', ${itemObj}, ${baseUri})`
                      li
                           a(class="nav-link", href=hrefAction, role="button")
                              span #{item.name} 
           div(class="col-md-8")
               ul(class="list-unstyled" id="api_info_display")